* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.score {
    text-decoration: underline;
    font-size: x-large;
}